* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
p {
  margin-bottom: 0;
}
.fdiv {
  padding: 1rem 0rem;
  font-size: 0.875rem;
}

.f0f0f0 {
  background-color: #f0f0f0;
}
.c00c26d {
  color: #00c26d;
}
.classic-button {
  background-color: #01c36d;
  border-color: #01c36d;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
}

.classic-button:hover {
  background-color: #02d076;
  border-color: #02d076;
  color: #fff;
}
.classic-button-outline {
  background-color: transparent;
  border: 2px solid #01c36d;
  color: #01c36d;
  font-size: 14px;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out; /* Geçiş efekti */
}
.classic-button-outline:hover {
  background-color: #01c36d;
  color: #fff;
}
.custom-text {
  max-width: 750px;
  font-weight: 400;
  letter-spacing: 0.15px;
  line-height: 1.4;
}
